<%= form_for(@barrack) do |f| %>
  <% if @barrack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@barrack.errors.count, "error") %> prohibited this barrack from being saved:</h2>

      <ul>
      <% @barrack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rackName %><br />
    <%= f.text_field :rackName %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
